* {
  box-sizing: border-box;  
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #b9e3ea;
    font-family: sans-serif, Arial, Verdana;
}

.calculator{
    width: 320px;
    background: #f2f2f2;
    border-radius: 12px;
    padding: 10px;
}

.display {
    height: 70px;
    background: #222;
    font-size: 2.2rem;
    text-align: right;
    padding: 10px;
    border-radius: 8px;
    color: white;
}

.buttons{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 60px;
    gap: 8px;
}

.buttons button {
    font-size: 1.4rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: #e0e0e0;
}

.buttons .equals {
    grid-column: 4;
    grid-row: 2 / span 4;
    background-color: #ff8c5a;
    color: #fff;
}

.buttons .operator{
    background: #FFCA00;
}